div#girls {
  background-image: url("../images/girls.png");
    background-size:cover;

    }

div#about{
  min-height: 900px;
    background-color: #fff8ba;
    h2{
      padding-top: 50px;
      padding-bottom: 5px;
    }
  p{
    font-size: 19px;
  }
}

div#about2{
padding-top:40px;

h5{
  padding-top: 20px;
}

img{
  padding-top: 40px;
}
}

div#about3{

h5{
  padding-top: 20px;
}

}