
@import "settings";
@import "foundation";

div#charity{
  background-color: #fff8ba;
  min-height: 900px;
}

div#content{
  padding-top: 20px;
}

div#all_tabs{
  padding-top: 10px;
}

div#all_tabs .tabs a{
  min-width: 198px;
  text-align: center;
  border-radius: 4px 4px 0 0;
  box-shadow:9px 0px 0px 0px #000000;
  position: relative;
}
  
.tab-title.active{
   z-index: 98;
   position: relative;
}
.tab-title1 {
  z-index: 7;
  position: relative;
}

.title2{
  z-index: 5;
  position: relative;
}

.title3{
  z-index: 0;
  position: relative;
}
    
.title1:not(.active){
    z-index:97;
}

.title2:not(.active){
    z-index: 2;
}


div#all_tabs .tabs-content{
background-color: #fff;
border-radius: 4px 4px 0 0;
max-width: 952px;
min-height: 883px;
padding-top: 50px;
box-shadow:9px 0px 0px 0px #000000;
}

#content h1 {
  font-size: 36px;
}

#panel2-1{

#top_section{
  padding-bottom: 30px;

h5{
  font-size: 16px;
  padding-left: 40px;
}

h6{
  margin-left: -10px;
  font-size: 14px;
  text-align: left;
}
img{
    padding-right: 25px;
  }
}
}

div#change{
  padding-right: 40px;
  text-align: right;
}


div#mailbox {
  margin-left: 0px;
  padding-right: 40px;

 #table-wrapper {
  height:444px;
  overflow:auto;
  margin-left: 30px;  
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-left: 1px solid black;
}
  
td{
  text-align: center;
  border-left: 0px none;
  border-right: 0px none;
  border-top: 0px none;
}

table {
  border-collapse: collapse;
  width:100%;    
}           
}


div#delete{
  padding-top: 20px;
  h6{
    padding-left: 40px;
    font-size: 14px;
  }

   .button{
    margin-left: -20px;
    background-color: #ebe5b0;
    font-size: 11px;
    font-weight: normal;
    line-height: 20px;
    width: 46px;
    height: 25px;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: auto;
    margin-top: auto; 
  }
}

div#main {
  padding-left: 30px;
}

div#favorite_title h1{
  padding-top: 30px;
  font-size: 16px;
  padding-left: 25px;
  padding-bottom: 5px;
}



/********** favorite panel, main tab LARGE (normal)******************/

div#favorite{
  overflow: hidden;
  background:#f8f2bf;
  max-height: 110px;
  max-width: 872px;
  border-radius: 4px 4px 4px 4px;
  margin:10px auto;

  img{
    padding-top: 15px;
   }

  #percent {
     margin-left: -40px;
  h4{
     font-size: 47px;
  }
  h5{
     font-size: 13px;
  }
}


div#title{
  min-width: 300px;
  margin-left: -40px;

  p{
    margin-top: -5px;
    font-size: 11px;
   }

  h5{
    font-size: 16px;   
  }

  h6{
    font-size: 18px;  
  }
}

div#goal{
   text-align: center;
   padding-left: 120px;
   margin-top: -8px;   
 }

.custom_row2{ 
   min-width: 300px; 
  }

canvas{
  margin-top: -5px;
}

div#option{
  padding-top: 7px;
  margin-left: -10px;
}

.custom_row3{ 
   max-width: 125px; 
}

label {
  font-size: 17px;
  color:#000000;
  cursor: pointer;
  display: block;
  line-height: 1.5;
  margin-bottom: 0;
}

.label-align input[type="checkbox"]{
  margin-top:7px;
} 

.label-align span{
  margin: 0 0 40px 20px;
  display: block;
}

.left{
  float:left;
}

.button {
  width: 89px;
  height: 23px;
  font-size: 16px;
  color:#fff;
  border-radius: 4px;
  box-shadow: 0 2px #404040;
}
}

/***************************************************
*************end of settings for panels on first tab LARGE*/



/******************second tab LARGE***********/


div#donatetotal{
  text-align: center;
 
  h1{
    font-size: 20px;
  } 

  h3{
    font-size: 38px;
  }

  h4{
    font-size: 20px;
    font-style: italic;
  }
}

div#tabledonate {
  padding-top: 40px;
   
  h6{
    font-size: 16px;
    padding-bottom: 15px;
    padding-left: 25px;
  }

 table {
  background-color: #fff;
  padding-left: 20px;
   }

 td{
   background-color: #fff;
   border-color:#fff;
   line-height: 11px;
  font-size: 11px;
   padding-bottom: 20px;
  }
  
  .button{
    background-color: #ebe5b0;
    font-size: 11px;
    font-weight: normal;
    line-height: 16px;
    width: 46px;
    height: 16px;
     border: 1px solid black;
    border-radius: 4px;
    margin-bottom: auto;
    margin-top: auto;
  }
}


div#share {
padding-top: 100px;
text-align: center;

h6{
  padding-bottom: 20px;
}
}


div#mydonations1{
  padding-top: 20px;

 h1{
  padding-left: 40px;
  font-size: 16px;
  padding-bottom: 10px;
  padding-top: 20px;
}
 h3{
  text-align: right;
  font-size: 11px;
  margin-bottom: -5px;
  padding-right: 40px;
 }
}

div#mydonations2 {
@extend #mydonations1;
 h3{
  padding-right: 25px;
 }
}

div#mydonations3 {
@extend #mydonations1;
 h3{
  padding-right: 25px;
 }
}


/***************************************************
*************end of settings for panels on second tab LARGE*/


/***************************************************
*************third tab LARGE*/

div#tablecharity{
   margin-top: -30px;
   padding-top: 80px;
  h5{
    font-size: 16px;
    padding-top: 20px;
    margin-left: -15px;
  }
img{
  padding-left:10px;
}
}

div#tablecharity2{
@extend #tabledonate;
 .button{
    width: 80px;   
  }
 input[type="checkbox"] {
 margin-top: 7px;
 margin-bottom: 7px;
}
}


div#results{
margin-bottom: -40px;

  h5{
   font-size: 15px;
   padding-left: 5px;
    
  }
  img{
   padding-left:20px;
   min-height:16px;
   min-width: 238px;
  }

  h3{
   font-size: 15px;
   padding-left: 20px;
  }
}

.result_row{
  max-width: 460px;
}

div#charitycomments{
  margin-left: -40px;
  text-align: left;
  margin-top: -60px;
  max-width: 350px;

  h5{
    font-size: 18px;
    text-decoration: underline;
    padding-bottom: 20px;
  }

  h6{
    font-size: 16px;
    font-style: italic;
    text-align: left;
  }

  p{
    font-size: 13px;
    font-style: italic;
  }

.approve{
   margin-left: -30px;
   background-color: #59ab35;
   border-radius: 4px;
   width: 70px;
   height: 20px;
   font-size: 13px;
   color:#fff;
   box-shadow: 0 3px #404040;
}

.approve:hover {
  background-color: #366821;
}

.approve:focus {
  background-color: #75df47;
}

.deny{
  @extend .approve;
  background-color: #c0392b;
  margin-left: -10px;
}
.deny:hover {
  background-color: #691e16;
}

.deny:focus {
  background-color: #ed4331;
}
}




/*////////////////////small size**********************/

@media only screen and (min-width: 393px) and (max-width: 640px) {

div#all_tabs .tabs a{
  min-width:0px;
  max-height: 50px;
  font-size: 15px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  text-align: center;
  border-radius: 4px 4px 0 0;
  box-shadow:9px 0px 0px 0px #000000;
  position: relative;
  margin-left: -11px;
  margin-bottom: -30px;
}

div#all_tabs .tabs .title1 a{
margin-left: 0px;
}

.tab-width{
@include block-grid(3);
}

/********************FIRST TAB*********************/
#top_section{
  padding-bottom: 30px;

h5{
 margin-left: -40px;
}

img{
 margin-right: -25px;
  }
}

div#change{
  padding-right: 0px;
  margin-left: -10px;
  text-align: center;
}

div#messages{
 margin-right: -10px;
}

div#mailbox {
  margin-left: 0px;
  padding-right: 5px;

 #table-wrapper {
     margin-left:-10px;  
    }
td{
  overflow: hidden;
    line-height: 1em;
  }   
}

div#main{
 text-align: center;
 padding-left: 0px;

h6{
 line-height:1.5em;
 padding-left: 10px;
}
}

div#delete{
  h6{
    padding-left: 0px;
  }
}

.deleterow{
 max-width: 250px;
}

/********** favorite panel SMALL (first tab)******************/
div#favorite_title h1{
  padding-top: 30px;
  padding-left: 0px;
}

div#favorite{
  overflow: auto;
  min-height: 260px;
  min-width:100%;
  margin:10px -10px;

div#title{
  min-width: 0px;
  margin-left: -10px;
}

div#goal{
  text-align: center;
  padding-left: 20px;
  margin-top: 0px;   
 }

.custom_row2{ 
  min-width: 0px; 
  }

div#option{
  text-align: center;
  padding-top: 0px;
  margin-left:-20px;
}

.custom_row3{ 
  min-width: 0px; 
  }
}
  /********************SECOND TAB SMALL*********************/

/********** setting for all tabs******************/
div#donatetotal{
  padding-top: 0px;
}

div#tabledonate{

h6{
  text-align: center;
  padding-left: 0px;
}
  
table{
 padding-left: 0px;
 display: inline-block;
}
}

div#share {
  padding-top: 10px;

h6{
  padding-bottom: 10px;
}
}

div#mydonations1{
  padding-top: 20px;

 h1{
  text-align: center;
  padding-left: 0px; 
}
 h3{
  text-align: center;
  padding-right: 0px;
 }
}

div#mydonations2 {
 h3{
  text-align: center;
  padding-right: 0px;
 }
}

div#mydonations3 {
 h3{
  text-align: center;
  padding-right: 0px;
 }
}


  /********************THIRD TAB SMALL*********************/


div#tablecharity{
  padding-top: 60px;
  padding-left: 0px;
  text-align: center;
h5{
  margin-left: 0px;
}
}


div#results{
  text-align: center;
  margin-bottom: -20px;

  h5{
  padding-left: 0px;
    
  }
  img{
  text-align: center;
  padding-left:0px;
  max-height:16px;
  max-width: 238px;
  }

  h3{
    padding-left:0px;
  }
}

.result_row{
  max-width: 640px;
}

div#charitycomments{
  margin-left: 20px;
  padding-top: 70px;
}
}


  /*///////////////////////medium sizes//////////*/

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

/********** setting for all tabs******************/

div#all_tabs .tabs a{
  min-width: 0px;
  text-align: center;
  border-radius: 4px 4px 0 0;
  box-shadow:9px 0px 0px 0px #000000;
  position: relative;
}

    /********** setting for all tabs******************/

#donatetotal{
  padding-bottom: 20px;
}

div#share {
  padding-top: 40px;

h6{
 margin-bottom: -20px;
}
}

div#delete{
  h6{
    padding-left: 20px;
  }
}

.deleterow{
 max-width: 255px;
}




/********** favorite panel, main tab MEDIUM******************/

div#favorite{
  max-height: 240px;
  width: 95%;

#percent {
  text-align: right;
  margin-left: -10px;
 
  h4{
  font-size: 47px;
 }
  h5{
  min-width: 100px;
 }
}

div#title{
  min-width: 250px;
  margin-left: -10px;
}

div#goal{
 padding-left: 80px;
 margin-top: -15px; 
 padding-bottom: 10px;  
}

.custom_row2{ 
 min-width: 200px; 
}


div#option{
 margin-top: 0px;
 padding-top: 0px;
 text-align: right;
}

.custom_row3{ 
 min-width: 250px; 
}

.label-align input[type="checkbox"]{
 margin-top:7px;
 margin-right:5px;
 margin-left:110px;
} 

.label-align span{
 margin: 0 0 40px 0px;
}

}

/********************SECOND TAB MEDIUM*********************/
div#tabledonate{
  h6{
    text-align: center;
   }
  table{
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
  }
}

div#mydonations1{
  padding-top: 20px;

 h1{
  padding-left: 35px;
}
 h3{
  padding-right: 30px;
 }
}

div#mydonations2 {
 h3{
  padding-right: 15px;
 }
}

div#mydonations3 {
 h3{
  padding-right: 15px;
 }
}




/********************THIRD TAB MEDIUM*********************/

div#tablecharity{
  padding-top: 30px;
  min-width: 600px;
 
 h5{
    padding-bottom:20px;
    padding-left: 0px;
    margin-left: -20px;   
  }

 img{
   padding-left: 105px;
   min-width: 42px;
  }
}

div#tablecharity2{
  margin-top: -20px;
}

div#results{
margin-bottom: -10px;

  img{
   padding-left:0px;
   min-height:16px;
   min-width: 250px;
  }

  h3{
   text-align: center;
    padding-left: 0px;
    margin-top: 30px;  
  }
}

.result_row{
  max-width: 470px;
}

div#charitycomments{
  margin-left: 20px;
  max-width: 500px;
  padding-top: 70px;
}

}












/********************SECOND SMALL SIZE!!!*********************/



@media only screen and (max-width: 392px) {

div#all_tabs .tabs a{
min-width:0px;
max-height: 50px;
font-size: 15px;
padding-left: 5px;
padding-right: 5px;
padding-top: 10px;

  text-align: center;
border-radius: 4px 4px 0 0;
box-shadow:9px 0px 0px 0px #000000;
 position: relative;
 margin-left: -11px;
 margin-bottom: -30px;
    }

div#all_tabs .tabs .title1 a{
margin-left: 0px;
min-height: 50px;
}


.tab-width{
@include block-grid(3);

}

div#delete{
  h6{
    padding-left: 0px;
  }
}

.deleterow{

 max-width: 250px;
}







/********************FIRST TAB*********************/
#top_section{
  padding-bottom: 30px;

h5{
 margin-left: -40px;
}
  img{
    margin-right: -25px;
  }
}

div#change{
  padding-right: 0px;
  margin-left: -10px;
  text-align: center;
}


div#messages{
 margin-right: -10px;
}


div#mailbox {
  margin-left: 0px;
  padding-right: 5px;


 #table-wrapper {
     margin-left:-10px;  
                  }
td{
  overflow: hidden;
    line-height: 1em;
  }   

}

div#main{
text-align: center;
 padding-left: 0px;

h6{
 line-height:1.5em;
 padding-left: 10px;
}
}





/********** favorite panel SMALL (first tab)******************/
div#favorite_title h1{
  padding-top: 30px;
  padding-left: 0px;
}


div#favorite{
overflow: auto;
min-height: 260px;
min-width:100%;
margin:10px -10px;

div#title{
 min-width: 0px;
  margin-left: -10px;
}


div#goal{
   text-align: center;
   padding-left: 20px;
 margin-top: 0px;   
 }

.custom_row2{ 
    min-width: 0px; 
  }


div#option{
  text-align: center;
  padding-top: 0px;
  margin-left:-20px;
}

.custom_row3{ 
    min-width: 0px; 

  }

}
  /********************SECOND TAB SMALL*********************/

/********** setting for all tabs******************/






div#donatetotal{
  padding-top: 0px;
}


div#tabledonate{

h6{
text-align: center;
padding-left: 0px;
}
  table{
 padding-left: 0px;
 display: inline-block;
}
}

div#share {
padding-top: 10px;

h6{
  padding-bottom: 10px;
}
}

div#mydonations1{
  padding-top: 20px;

 h1{
   text-align: center;
  padding-left: 0px; 
}
 h3{

  text-align: center;
  padding-right: 0px;
 }
}

div#mydonations2 {
 h3{
  text-align: center;
  padding-right: 0px;
 }
}

div#mydonations3 {
 h3{
  text-align: center;
  padding-right: 0px;
 }
}

  /********************THIRD TAB SMALL 2nd SMALL size*********************/


div#tablecharity{
   padding-top: 60px;
padding-left: 0px;
text-align: center;
h5{
  margin-left: 0px;
}
}


div#results{
  text-align: center;
margin-bottom: -20px;

  h5{
    padding-left: 0px;
    
  }
  img{
    text-align: center;
   padding-left:0px;
   max-height:16px;
   max-width: 238px;
  }

  h3{
    padding-left:0px;
  }

}


.result_row{
  max-width: 640px;
}



div#charitycomments{
  margin-left: 20px;
  padding-top: 70px;
}

}






