
@import "settings";
@import "foundation";

div#charity{
  padding-top: 40px;
  background-color: #fff8ba;
  min-height: 900px;
}

.overlay-container {
  position: relative;
  padding-right: 20px; /* <-- Set as the reference for the positioned overlay */
}

.overlay-container .overlay {
  position: absolute; /* <-- Remove the overlay from normal flow         */
  top: 0;          /* <-- Keep the overlay at the bottom of the box   */
  left: 0;            /* <-- Set left and right properties to 0          */
  right: 0;  
  padding: 0.4rem;
}

#content h1 {
  font-size: 36px;
}

.social{
  height: 48px;
  width: 48px;
  margin-right: 1.9px;
}

div#socialicons{
  text-align: center;
  margin-top: 20px;

.button {
background: none;
}

h6 {
margin-top: -10px;
}
}

div#comments{
  padding-top: 80px;

.tabs a{
  min-width: 198px;
  text-align: center;
  border-radius: 4px 4px 0 0;
  box-shadow:9px 0px 0px 0px #000000;
  overflow: hidden;
}

 .tabs .tab-title.active{
  z-index: 7;
}

 .tabs a::before{
 z-index: 3;
}

 .tabs a::after{
 z-index: -1;
}

 .tabs-content{
background-color: #fff;
border-radius: 4px 4px 0 0;
max-width: 609px;
min-height: 883px;
padding-top: 50px;
box-shadow:9px 0px 0px 0px #000000;
}
}

 div#donors img{
  padding-right: 5px;
  padding-left: 40px;
  margin-top: -33px;
}
  
 div#donors p{
  padding-left: 40px;
  font-weight: bold;
}

div#comment_tab p {
  padding-left: 40px;
}

div#commenter p{
  padding-right: 40px;
  text-align: right;
  font-weight: bold;
  padding-bottom: 30px;
}

div#amount p{
 text-align: right;
 padding-right: 40px;
 font-weight: bold;
 margin-bottom:85px;
}

div#weekly {
  h3 {
  font-size: 22px;
  text-shadow: none;
  text-align: right;
}

span{
padding-right: 50px;
}
}

div#chart{
  text-align: right;
  background: none;
  margin-top: -20px;

h4 {
  font-size: 67px;
  text-shadow: none;
  text-align:right;
  font-color:#000000;
}
canvas{
  width:145px;
  height:145px;
}
}

 div#content-right {
  text-align: right;

 .button {
  width: 275px;
  font-size: 30px;
  color:#fff;
  border-radius: 4px;
  line-height: 58px;
  box-shadow: 0 5px #404040;
  font-style: normal;
}

.button:hover {
  background-color: #1a6868;
}

.button:focus {
  background-color: #1a6868;
}

h6{
  padding-top: 10px;
  padding-bottom: 10px;
}

div#donatebutton{
  padding-right: 30px;
}
}


/* FAVORITE BUTTON*/
div#favorite{
 .button:hover {
  background-color: #1a6868;
}

 .button:focus {
  background-color: #1a6868;
}
}


div#test .button {
  border-radius:4px;
  background: #39c1c1;
  width:225px;
}

.btn-img {
vertical-align: middle; 
}

div#text{
   font-size: 21px;
   line-height: 22px;
   margin-top: 7px;
   text-align: center;
   padding-right: 20px;
}

div#myModal{
  min-height: 300px;
  p{
    text-align: left;
    margin-bottom: 5px;
  }
}

div#signupbutton{
  text-align: center;
}

div#myModal3{
  border-radius: 4px;
  z-index: 100;
  min-height: 100px;
 h6{
  text-align: center;
}
}


/*//////////////////////////small size//////////*/
@media only screen and (max-width: 640px) {

div#content-left{
  text-align: center;
  margin-right: 0px;

.overlay-container {
  position: relative;
  padding-right: 0px;
}

.overlay-container .overlay {
  position: absolute; 
  /* <-- Remove the overlay from normal flow         */
  top: 0px;          /* <-- Keep the overlay at the bottom of the box   */
  left: 0px;            /* <-- Set left and right properties to 0          */
  right: 0px;            /*     In order to expand the overlay horizontally */
  padding: 0.4rem;
  width:50%;
}
}


div#pic2{
  text-align: center;
  padding-top: 20px;
 img{
  width: 373px;
 }
}

div#weekly {
  h3 {
  font-size: 18px;
  text-align: center;
  min-width: 100px;
  padding-bottom: 10px;
}

span{
padding-right: 0px;
}
}

div#chart{
  text-align: center;
  margin-top: -20px;
h4 {
  font-size: 40px;
  text-align:center;
}
canvas {
width: 100% !important;
max-width: 100px;
height:100% !important;
}
}

div#content-right {
 .button {
   width: 100%;
   font-size: 22px;
   line-height: 38px;
}
h6{
  text-align:center;
  min-width:100px;
  font-size: 18px;
  padding-top: 0px;
  padding-bottom: 10px;
}

div#donatebutton{
  padding-right: 30px;
}
}

div#womanpic{
  padding-top: 10px;
  text-align: center;
}


/* FAVORITE BUTTON*/

div#test{
  padding-top: 10px;
}

.btn-img {
  margin-right: auto;
  margin-left: auto;
}

div#text{
  width:100%;
  font-size: 21px; 
  line-height: 22px;
  margin-top: 4px;
  margin-bottom: 4px; 
  padding-right: 0px; 
}

div#myModal{
  max-width: 90%;
  margin-left: 5%;
  min-height: 450px;
}

div#myModal3{
  padding-top: 30px;
  max-width: 60%;
  margin-left: 20%;
}


/*DONATORS TAB SMALL***********/
 div#donors img{
  padding-left: 25px;
}
  
div#donors p{
  padding-left: 25px;  
}

div#comment_tab p {
  padding-left: 25px;
}

div#amount p{
 padding-right: 25px;
}
}



  /*///////////////////////medium sizes//////////*/

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

.overlay-container {
  width: 93%;
  height: 93%;
}

div#pic2{
  text-align: center;
    img{
      max-height: 249px;
    }
}

div#content-right {
   text-align: right;

 .button {
   width:100%;
   font-size: 30px;
   color:#fff;
   border-radius: 4px;
   line-height: 58px;
   box-shadow: 0 5px #404040; 
}

.button:hover {
  background-color: #1a6868;
}

.button:focus {
  background-color: #1a6868;
}

h6{
  padding-top: 10px;
  padding-bottom: 10px;
}


div#donatebutton{
  padding-right: 0px;
}
}

div#week {
  h3 {
  font-size: 22px;
  text-align: right;
}
 span{
  padding-right: 50px;
}
}


/* FAVORITE BUTTON*/
div#favorite{
 .button:hover {
  background-color: #1a6868;
}

 .button:focus {
  background-color: #1a6868;
}
}

div#test .button {
border-radius:4px;
background: #39c1c1;
}

.btn-img {
  vertical-align: middle;
  margin-top: -10px;
}

div#text{
  font-size: 21px;
  text-align: center;
  line-height: 22px;
  margin-top: 4px;
  margin-bottom: 4px; 
}

div#myModal2{
 border-radius: 4px;
 text-align: center;
 z-index: 100;
 min-height: 100px;
}
}










