


@import "settings";
@import "foundation";





div#listitem{

background: #fff;
border-radius: 4px 4px 4px 4px;
width:95%;
margin-bottom: 7px;
transition: background 0.5s linear;

 img{
padding-top: 20px;
 }


}


div#listitem:hover{
    background-color: #e4e4e4;

}





div#title{
  h5{
    font-size: 17px;
    padding-top: 5px;
  }
h6{
  font-size: 20px;
  margin-top: -10px;
}

p{
  font-size: 14px;
  color: #000000;
}
}


div#percent{

padding-left: 50px;


h4{
  font-size: 57px;
}

h5{
  font-size: 15px;
  min-width: 150px;
 
}

}

div#goal{
  text-align: right;
  padding-top: 10px;
h6{
  font-size: 14px;
}



}

div#results{
  padding-bottom: 20px;

h6{
  color: black;
  font-size: 15px;
  text-decoration: underline;

}

h4{
  font-size: 26px;
  text-align: center;
  padding-left: 60px;
  margin-top: -5px;
}

select{
  min-width:140px;
  height: 30px;
  font-size: 14px;
  padding-right: 20px;
 
}
  label{
  color:#000000;
  font-size: 15px;
  margin-right: -10px;
}

a{
  color: black;
}

}

.custom_column2{
  min-width: 200px;
}

.custom_column{
  min-width: 260px;
}


///////////////////////////smal
@media only screen and (max-width: 640px) {

div#title{
    padding-left: 20px;
}



div#percent{
  margin-top: -30px;
padding-left: 0px;
text-align: center;


h5{
  margin-left: -10px;
}
}



div#goal{
  padding-top: 0px;
  padding-left: 30px;
  text-align: center;
}



div#results{
  padding-bottom: 20px;

h6{
   padding-bottom: 20px;
   min-width: 80px;
}

h4{ 
  padding-left: 0px;
  padding-bottom: 20px;
  
}

select{
  min-width:0px;
}
label{
  padding-left: 10px;
}

}

.custom_column2{
  min-width: 0px;
}

.custom_column{
  min-width: 0px;
}




}









////////////////////////medium sizes

@media only screen and (min-width: 40.063em) and (max-width: 64em) {


div#title{

 padding-left: 15px;

}

div#percent{
  margin-top: -5px;
  margin-left: -40px;
text-align: center;


h4{
  font-size: 48px;

}

h5{
min-width: 70px;
}
}

div#results{


h4{ 
  padding-left: 30px; 

}

select{
  min-width:110px;
  padding-right:0px;
 
}
  label{
  margin-right: -20px;
  margin-left: -30px;
}

}

.custom_column2{
  max-width: 150px;
}

.custom_column{
  min-width: 250px;
}





}


