/* line 1, ../scss/about.scss */
div#girls {
  background-image: url("../images/girls.png");
  background-size: cover;
}

/* line 6, ../scss/about.scss */
div#about {
  min-height: 900px;
  background-color: #fff8ba;
}
/* line 9, ../scss/about.scss */
div#about h2 {
  padding-top: 50px;
  padding-bottom: 5px;
}
/* line 14, ../scss/about.scss */
div#about p {
  font-size: 19px;
}

/* line 19, ../scss/about.scss */
div#about2 {
  padding-top: 40px;
}
/* line 22, ../scss/about.scss */
div#about2 h5 {
  padding-top: 20px;
}
/* line 26, ../scss/about.scss */
div#about2 img {
  padding-top: 40px;
}

/* line 32, ../scss/about.scss */
div#about3 h5 {
  padding-top: 20px;
}

/*//////////////////////////small //////*/
@media only screen and (max-width: 640px) {
  /* line 42, ../scss/about.scss */
  div#about p {
    font-size: 16px;
  }

  /* line 47, ../scss/about.scss */
  div#about2 {
    padding-top: 10px;
  }
  /* line 50, ../scss/about.scss */
  div#about2 img {
    padding-top: 0px;
    padding-bottom: 20px;
  }
}
