/* line 4, ../scss/acct.scss */
div#charity {
  background-color: #fff8ba;
  min-height: 900px;
}

/* line 10, ../scss/acct.scss */
div#content {
  padding-top: 40px;
}

/* line 17, ../scss/acct.scss */
div#all_tabs {
  padding-top: 80px;
}

/* line 22, ../scss/acct.scss */
div#all_tabs .tabs a {
  min-width: 198px;
  text-align: center;
  border-radius: 4px 4px 0 0;
  box-shadow: 9px 0px 0px 0px #000000;
  position: relative;
}

/* line 31, ../scss/acct.scss */
.tab-title.active {
  z-index: 100;
  position: relative;
}

/* line 36, ../scss/acct.scss */
.title2 {
  z-index: 3;
  position: relative;
}

/* line 41, ../scss/acct.scss */
.title3 {
  z-index: 1;
  position: relative;
}

/* line 51, ../scss/acct.scss */
div#all_tabs .tabs-content {
  background-color: #fff;
  border-radius: 4px 4px 0 0;
  max-width: 952px;
  min-height: 883px;
  padding-top: 50px;
  box-shadow: 9px 0px 0px 0px #000000;
}

/* line 63, ../scss/acct.scss */
#content h1 {
  font-size: 36px;
}

/* line 71, ../scss/acct.scss */
#panel2-1 #top_section {
  padding-bottom: 30px;
}
/* line 74, ../scss/acct.scss */
#panel2-1 #top_section h5 {
  font-size: 16px;
  padding-left: 40px;
}
/* line 79, ../scss/acct.scss */
#panel2-1 #top_section h6 {
  margin-left: -10px;
  font-size: 14px;
  text-align: left;
}
/* line 84, ../scss/acct.scss */
#panel2-1 #top_section img {
  padding-right: 25px;
}

/* line 90, ../scss/acct.scss */
#change {
  padding-right: 40px;
}

/* line 97, ../scss/acct.scss */
div#mailbox {
  margin-left: 0px;
  padding-right: 40px;
}
/* line 101, ../scss/acct.scss */
div#mailbox #table-wrapper {
  height: 444px;
  overflow: auto;
  margin-left: 30px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
}
/* line 110, ../scss/acct.scss */
div#mailbox td {
  text-align: center;
  border-left: 0px none;
  border-right: 0px none;
  border-top: 0px none;
}
/* line 118, ../scss/acct.scss */
div#mailbox table {
  max-height: 200px;
  border-collapse: collapse;
  width: 100%;
}

/* line 128, ../scss/acct.scss */
div#main {
  padding-left: 40px;
}

/* line 139, ../scss/acct.scss */
div#favorites h1 {
  padding-top: 30px;
  font-size: 16px;
  padding-left: 40px;
  padding-bottom: 5px;
}

/* line 150, ../scss/acct.scss */
div#favorite {
  overflow: hidden;
  background: #f8f2bf;
  max-height: 110px;
  max-width: 872px;
  border-radius: 4px 4px 4px 4px;
  margin: 10px auto;
}
/* line 158, ../scss/acct.scss */
div#favorite img {
  padding-top: 15px;
}
/* line 163, ../scss/acct.scss */
div#favorite #percent {
  margin-left: -40px;
}
/* line 165, ../scss/acct.scss */
div#favorite #percent h4 {
  font-size: 47px;
}
/* line 168, ../scss/acct.scss */
div#favorite #percent h5 {
  font-size: 13px;
}
/* line 174, ../scss/acct.scss */
div#favorite div#title {
  min-width: 300px;
  margin-left: -40px;
}
/* line 178, ../scss/acct.scss */
div#favorite div#title p {
  margin-top: -5px;
  font-size: 11px;
}
/* line 183, ../scss/acct.scss */
div#favorite div#title h5 {
  font-size: 16px;
}
/* line 187, ../scss/acct.scss */
div#favorite div#title h6 {
  font-size: 18px;
}
/* line 195, ../scss/acct.scss */
div#favorite div#goal {
  text-align: center;
  padding-left: 120px;
  margin-top: -8px;
}
/* line 201, ../scss/acct.scss */
div#favorite .custom_row2 {
  min-width: 300px;
}
/* line 206, ../scss/acct.scss */
div#favorite canvas {
  margin-top: -5px;
}
/* line 210, ../scss/acct.scss */
div#favorite div#option {
  padding-top: 7px;
  margin-left: -10px;
}
/* line 215, ../scss/acct.scss */
div#favorite .custom_row3 {
  max-width: 125px;
}
/* line 221, ../scss/acct.scss */
div#favorite label {
  font-size: 17px;
  color: #000000;
  cursor: pointer;
  display: block;
  line-height: 1.5;
  margin-bottom: 0;
}
/* line 230, ../scss/acct.scss */
div#favorite .label-align input[type="checkbox"] {
  margin-top: 7px;
}
/* line 234, ../scss/acct.scss */
div#favorite .label-align span {
  margin: 0 0 40px 20px;
  display: block;
}
/* line 239, ../scss/acct.scss */
div#favorite .left {
  float: left;
}
/* line 245, ../scss/acct.scss */
div#favorite .button {
  width: 89px;
  height: 23px;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px #404040;
}

/***************************************************
*************end of settings for panels on first tab*/
/******************second tab***********/
/* line 267, ../scss/acct.scss */
div#donatetotal {
  text-align: center;
}
/* line 270, ../scss/acct.scss */
div#donatetotal h1 {
  font-size: 20px;
}
/* line 274, ../scss/acct.scss */
div#donatetotal h3 {
  font-size: 38px;
}
/* line 278, ../scss/acct.scss */
div#donatetotal h4 {
  font-size: 20px;
  font-style: italic;
}

/* line 287, ../scss/acct.scss */
div#tabledonate, div#tablecharity {
  padding-top: 40px;
  max-width: 650px;
}
/* line 291, ../scss/acct.scss */
div#tabledonate h6, div#tablecharity h6 {
  font-size: 16px;
  padding-bottom: 15px;
  padding-left: 20px;
}
/* line 298, ../scss/acct.scss */
div#tabledonate table, div#tablecharity table {
  background-color: #fff;
  border-width: 0px;
  padding-left: 15px;
}
/* line 307, ../scss/acct.scss */
div#tabledonate td, div#tablecharity td {
  background-color: #fff;
  border-color: #fff;
  line-height: 11px;
  font-size: 11px;
  padding-right: 5px;
  padding-bottom: 20px;
}
/* line 316, ../scss/acct.scss */
div#tabledonate .button, div#tablecharity .button {
  background-color: #ebe5b0;
  font-size: 11px;
  font-weight: normal;
  line-height: 16px;
  width: 46px;
  height: 16px;
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: auto;
  margin-top: auto;
}

/* line 336, ../scss/acct.scss */
div#share {
  padding-top: 100px;
  text-align: center;
}
/* line 340, ../scss/acct.scss */
div#share h6 {
  padding-bottom: 20px;
}

/* line 346, ../scss/acct.scss */
div#mydonations1, div#mydonations2, div#mydonations3 {
  padding-top: 40px;
}
/* line 349, ../scss/acct.scss */
div#mydonations1 h1, div#mydonations2 h1, div#mydonations3 h1 {
  font-size: 16px;
  padding-bottom: 10px;
}
/* line 353, ../scss/acct.scss */
div#mydonations1 h6, div#mydonations2 h6, div#mydonations3 h6 {
  text-align: right;
  font-size: 11px;
  padding-top: 10px;
  margin-bottom: -5px;
}

/***************************************************
*************end of settings for panels on second tab*/
/* line 385, ../scss/acct.scss */
div#tablecharity .button {
  width: 81px;
}
/* line 389, ../scss/acct.scss */
div#tablecharity h5 {
  font-size: 16px;
  padding-top: 20px;
  margin-left: -20px;
}

/* line 401, ../scss/acct.scss */
div#charitycomments {
  padding-top: 40px;
  margin-left: -50px;
  text-align: left;
}
/* line 406, ../scss/acct.scss */
div#charitycomments h5 {
  font-size: 18px;
  text-decoration: underline;
  padding-bottom: 20px;
}
/* line 413, ../scss/acct.scss */
div#charitycomments h6 {
  font-size: 16px;
  font-style: italic;
  text-align: left;
}
/* line 419, ../scss/acct.scss */
div#charitycomments p {
  font-size: 13px;
  font-style: italic;
}
/* line 423, ../scss/acct.scss */
div#charitycomments .approve, div#charitycomments .deny {
  background-color: #59ab35;
  border-radius: 4px;
  width: 70px;
  height: 20px;
  font-size: 13px;
  color: #fff;
  box-shadow: 0 3px #404040;
}
/* line 433, ../scss/acct.scss */
div#charitycomments .approve:hover, div#charitycomments .deny:hover {
  background-color: #366821;
}
/* line 437, ../scss/acct.scss */
div#charitycomments .approve:focus, div#charitycomments .deny:focus {
  background-color: #75df47;
}
/* line 442, ../scss/acct.scss */
div#charitycomments .deny {
  background-color: #c0392b;
  margin-left: -10px;
}
/* line 447, ../scss/acct.scss */
div#charitycomments .deny:hover {
  background-color: #691e16;
}
/* line 451, ../scss/acct.scss */
div#charitycomments .deny:focus {
  background-color: #ed4331;
}

/* line 458, ../scss/acct.scss */
div#left-column .button {
  width: 300px;
  font-size: 30px;
  color: #fff;
  border-radius: 4px;
  line-height: 58px;
  box-shadow: 0 5px #404040;
  font-style: normal;
}

/* line 470, ../scss/acct.scss */
div#left-column .button:hover {
  background-color: #1a6868;
}

/* line 474, ../scss/acct.scss */
div#left-column .button:focus {
  background-color: #1a6868;
}

/*////////////////////small size**********************/
/*///////////////////////medium sizes//////////*/
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 499, ../scss/acct.scss */
  #donatetotal {
    padding-bottom: 20px;
  }

  /* line 503, ../scss/acct.scss */
  div#tabledonate, div#tablecharity {
    padding-left: 0px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;
  }
  /* line 511, ../scss/acct.scss */
  div#tabledonate table, div#tablecharity table {
    background-color: #fff;
    border-width: 0px;
  }
  /* line 517, ../scss/acct.scss */
  div#tabledonate td, div#tablecharity td {
    background-color: #fff;
    border-color: #fff;
    font-size: 11px;
    padding-right: 5px;
    padding-bottom: 20px;
  }

  /* line 528, ../scss/acct.scss */
  div#share {
    padding-top: 40px;
  }
  /* line 531, ../scss/acct.scss */
  div#share h6 {
    margin-bottom: -20px;
  }

  /* line 539, ../scss/acct.scss */
  div#favorite {
    max-height: 240px;
    width: 95%;
  }
  /* line 544, ../scss/acct.scss */
  div#favorite #percent {
    text-align: right;
    margin-left: -5px;
  }
  /* line 548, ../scss/acct.scss */
  div#favorite #percent h4 {
    font-size: 47px;
  }
  /* line 551, ../scss/acct.scss */
  div#favorite #percent h5 {
    min-width: 100px;
  }
  /* line 557, ../scss/acct.scss */
  div#favorite div#title {
    min-width: 250px;
    margin-left: -10px;
  }
  /* line 563, ../scss/acct.scss */
  div#favorite div#goal {
    padding-left: 80px;
    margin-top: -15px;
    padding-bottom: 10px;
  }
  /* line 569, ../scss/acct.scss */
  div#favorite .custom_row2 {
    min-width: 200px;
  }
  /* line 574, ../scss/acct.scss */
  div#favorite div#option {
    margin-top: 0px;
    padding-top: 0px;
    text-align: right;
  }
  /* line 581, ../scss/acct.scss */
  div#favorite .custom_row3 {
    min-width: 250px;
  }
  /* line 587, ../scss/acct.scss */
  div#favorite .label-align input[type="checkbox"] {
    margin-top: 7px;
    margin-right: 5px;
    margin-left: 110px;
  }
  /* line 594, ../scss/acct.scss */
  div#favorite .label-align span {
    margin: 0 0 40px 0px;
  }
}
